.upload-container .info-file {
    padding: 20px;
}

.info-file .icon-zip {
    width: 40px;
    height: 40px;
    background: url(../../assets/icon/zip.svg) no-repeat;
    margin-right: 10px;
    background-position: center;
    background-size: 100%;
}

.left-box {
    width: 202px;
    margin-right: 18px;
    height: 100%;
}

.box,
.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 11px rgba(0, 0, 0, .08);
}

.list-tab-menu {
    padding: 25px 8px 0;
    overflow: auto;
    height: 100%;
    color: #707070;
}

.tab-item {
    margin-bottom: 15px;
    cursor: pointer;
}

.list-tab-menu .tab-item-parent.active {
    font-weight: 600;
    color: #ff6d00;
}

.list-tab-menu .tab-item-parent:hover {
    border-radius: 4px;
    background-color: #fbe9e7;
    color: #ff6d00;
}

.grid-nodata-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}

.grid-nodata-content .img-nodata {
    background-image: url(../../assets/icon/ic_empty_grid.681d1e47.svg);
    height: 160px;
    width: 260px;
    background-position: 50%;
}

.description-nodata {
    text-align: center;
    font-size: 14px;
    color: #182d4b;
    padding-bottom: 8px;
}

.grid-nodata-content .description-nodata {
    color: #9e9fab;
    padding-bottom: 8px;
}

.list-tab-menu .tab-item-parent {
    height: 36px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content-body {
    padding: 17px 20px 12px 16px;
    overflow: auto;
}

.content-body .title-1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 26px;
    align-items: center;
}

.content-body .title-2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
}

/* .content-footer {
    background-color: #fbfbfe;
    padding: 12px 24px;
} */
.p-button-label {
    padding: 0 16px;
}

.tab-item-child {
    padding: 10px 0 0px 20px;
}

.tab-item .tab-item-child:not(:first-child) {
    padding-top: 0;
}

.box.left-box {
    width: 13vw;
}

.p-button .export-excel {
    display: inline-block;
    margin: -7px 7px -7px 12px;
}

.export-excel {
    width: 20px;
    height: 20px;
}


.p-button .export-excel~.text {
    padding-right: 16px;
    padding-left: 0;
}

.customPanel.p-panel.p-panel-toggleable .p-panel-header {
    padding: 0px 14px 14px 0 !important;
}