.tooltip {
    display: none;
}

.tooltip[aria-hidden=false] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

.tooltip[x-placement^=top] {
    margin-bottom: 7px;
}

.tooltip[x-placement^=top] .tooltip-arrow {
    border-width: 7px 7px 0;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -7px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
}

.v-tooltip {
    display: flex;
    justify-content: center;
}

.tool-tip-box {
    position: relative;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #182d4b !important;
}

.tooltip .tooltip-inner {
    background: #182d4b !important;
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    min-width: 40px;
    text-align: center;
}

.p-tooltip-text {
    background: #182d4b !important;
    color: #fff !important;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 100;
    font-family: GoogleSans !important;
    padding: 6px !important;
    min-width: 40px;
    text-align: center;
}